name: test

on:
  push:
    branches:
      - production
      - staging
  pull_request:
    branches:
      - production
      - staging

jobs:
  check:
    name: LimitOrders-v0
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive

      - uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install eth-abi
        run: pip3 install eth-abi

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: nightly
  
      - name: Run tests
        run: forge test -f "${{ secrets.MAINNET_RPC_ENDPOINT }}" --ffi

      - name: Run snapshot
        run: forge test -f "${{ secrets.MAINNET_RPC_ENDPOINT }}" --ffi